<div class="row">
  <div class="span9">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' } ) do |f| %>
      <fieldset>
        <legend>Sign in</legend>
        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <label class="checkbox">
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
              </label>
            </div>
          </div>
        <% end -%>
        <div class="form-actions">
          <%= f.submit "Sign in", :class => 'btn btn-primary' %> 
        </div>
      </fieldset>
    <% end %>
  </div>

  <div class="span3">
    <%= render "links" %>
  </div>
</div>
